<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ROYAL CARS - Car Rental HTML Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">

	<!-- Libraries Stylesheet -->
	<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	

	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">

	<link href="~/css/site.css" rel="stylesheet">
</head>

<body>
	@if (Context.Session.GetInt32("rol") == 2 || Context.Session.GetInt32("rol") == null)
	{
		<!-- Topbar Start -->
		<div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
			<div class="row">
				<div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
					<div class="d-inline-flex align-items-center">
						<a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</a>
						<span class="text-body">|</span>
						<a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>info@example.com</a>
					</div>
				</div>
				<div class="col-md-6 text-center text-lg-right">
					<div class="d-inline-flex align-items-center">
						<a class="text-body px-3" href="">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="text-body px-3" href="">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="text-body px-3" href="">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a class="text-body px-3" href="">
							<i class="fab fa-instagram"></i>
						</a>
						<a class="text-body pl-3" href="">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Topbar End -->
		<!-- Navbar Start -->
		<div class="container-fluid position-relative nav-bar p-0">
			<div class="position-relative px-lg-5" style="z-index: 9;">
				<nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
					<a href="" class="navbar-brand">
						<h1 class="text-uppercase text-primary mb-1">Royal Cars</h1>
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
						<div class="navbar-nav ml-auto py-0">
							<a class="nav-item nav-link" asp-action="Index" asp-controller="Home">Home</a>
							<a class="nav-item nav-link" asp-action="Coches" asp-controller="Compradores">Coches</a>
							@if(Context.Session.GetInt32("rol") == null){
								<a asp-action="Login" asp-controller="Sesion" class="nav-item nav-link">Iniciar Sesión</a>
							}else{
								<a asp-action="Compras" asp-controller="Compradores" class="nav-item nav-link">Mis compras</a>
								<a asp-action="LogOut" asp-controller="Sesion" class="nav-item nav-link">Cerrar Sesion</a>
							}
							
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- Navbar End -->
		@RenderBody()
	}
	else if (Context.Session.GetInt32("rol") == 1)
	{
		<!-- Topbar Start -->
		<div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
			
		</div>
		<!-- Topbar End -->
		<!-- Navbar Start -->
		<div class="container-fluid position-relative nav-bar p-0">
			<div class="position-relative px-lg-5" style="z-index: 9;">
				<nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
					<a href="" class="navbar-brand">
						<h1 class="text-uppercase text-primary mb-1">Royal Cars (Administrador)</h1>
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
						<div class="navbar-nav ml-auto py-0">
							<a class="nav-item nav-link" asp-action="Index" asp-controller="Home">Home</a>
							<a class="nav-item nav-link" asp-action="ComprobarKilometraje" asp-controller="Vendedores">Comprobar km's</a>
							<a class="nav-item nav-link" asp-action="Coches" asp-controller="Vendedores">Mis Coches</a>
							<a class="nav-item nav-link" asp-action="InsertCoche" asp-controller="Vendedores">Importar Nuevo Coche</a>
							<a asp-action="LogOut" asp-controller="Sesion" class="nav-item nav-link">Cerrar Sesion</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- Navbar End -->
		@RenderBody()
	}







	<!-- JavaScript Libraries -->
	<script src="~/js/jquery-3.4.1.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/easing/easing.min.js"></script>
	<script src="~/lib/waypoints/waypoints.min.js"></script>
	<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="~/lib/tempusdominus/js/moment.min.js"></script>
	<script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Template Javascript -->
	<script src="~/js/main.js"></script>
</body>

</html>