
/****** Object:  Table [dbo].[COCHE]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COCHE](
	[ID] [int] NOT NULL,
	[MARCA] [nvarchar](50) NULL,
	[MODELO] [nvarchar](50) NULL,
	[MATRICULA] [nvarchar](50) NULL,
	[IMAGEN] [nvarchar](50) NULL,
	[ASIENTOS] [int] NULL,
	[IDMARCHAS] [int] NULL,
	[IDGAMA] [int] NULL,
	[IDESTADO] [int] NULL,
	[KILOMETRAJE] [int] NULL,
	[PUERTAS] [int] NULL,
	[IDCOMBUSTIBLE] [int] NULL,
	[IDVENDEDOR] [int] NULL,
	[PRECIOKILOMETROS] [decimal](10, 2) NULL,
	[PRECIOILIMITADO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBUSTIBLE]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBUSTIBLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAMA]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIVEL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCHAS]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCHAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_COCHES]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_COCHES] AS 

SELECT  

    C.ID, 

    C.MARCA, 

    C.MODELO, 

    C.IMAGEN, 

    C.ASIENTOS, 

    M.TIPO AS MARCHA,                  -- SUSTITUYE EL ID DE MARCHAS POR EL TIPO DE MARCHA 

    G.NIVEL AS GAMA,                   -- SUSTITUYE EL ID DE GAMA POR EL NOMBRE DE LA GAMA 

    E.ESTADO AS ESTADO,                -- SUSTITUYE EL ID DE ESTADO POR EL NOMBRE DEL ESTADO 

    C.KILOMETRAJE, 

    C.PUERTAS, 

    CO.TIPO AS COMBUSTIBLE,           -- SUSTITUYE EL ID DE COMBUSTIBLE POR EL TIPO DE COMBUSTIBLE 

    C.PRECIOKILOMETROS, 

    C.PRECIOILIMITADO 

FROM  

    COCHE C 

JOIN  

    MARCHAS M ON C.IDMARCHAS = M.ID   -- UNE LA TABLA MARCHAS PARA OBTENER EL TIPO DE MARCHA 

JOIN  

    GAMA G ON C.IDGAMA = G.ID         -- UNE LA TABLA GAMA PARA OBTENER EL NIVEL DE GAMA 

JOIN  

    ESTADO E ON C.IDESTADO = E.ID     -- UNE LA TABLA ESTADO PARA OBTENER EL ESTADO DEL COCHE 

JOIN  

    COMBUSTIBLE CO ON C.IDCOMBUSTIBLE = CO.ID  -- UNE LA TABLA COMBUSTIBLE PARA OBTENER EL TIPO DE COMBUSTIBLE 
GO
/****** Object:  Table [dbo].[COMPRADOR]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRADOR](
	[ID] [int] NOT NULL,
	[IDUSUARIO] [int] NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDOS] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](50) NOT NULL,
	[CARNET] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[FECHANACIMIENTO] [date] NOT NULL,
	[MONEDERO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADORESERVA]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADORESERVA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[ID] [int] NOT NULL,
	[IDCOCHE] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[FECHAINICIO] [date] NOT NULL,
	[FECHAFIN] [date] NOT NULL,
	[IDESTADORESERVA] [int] NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[KILOMETRAJE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[IDROL] [int] NULL,
	[SALT] [nvarchar](50) NOT NULL,
	[PASS] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[ID] [int] NOT NULL,
	[IDUSUARIO] [int] NULL,
	[NOMBREEMPRESA] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COCHE] ([ID], [MARCA], [MODELO], [MATRICULA], [IMAGEN], [ASIENTOS], [IDMARCHAS], [IDGAMA], [IDESTADO], [KILOMETRAJE], [PUERTAS], [IDCOMBUSTIBLE], [IDVENDEDOR], [PRECIOKILOMETROS], [PRECIOILIMITADO]) VALUES (1, N'Pruebas', N'Test', N'1234abc', N'batmovil.jpg', 2, 1, 1, 1, 12446, 2, 3, 1, CAST(1.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[COCHE] ([ID], [MARCA], [MODELO], [MATRICULA], [IMAGEN], [ASIENTOS], [IDMARCHAS], [IDGAMA], [IDESTADO], [KILOMETRAJE], [PUERTAS], [IDCOMBUSTIBLE], [IDVENDEDOR], [PRECIOKILOMETROS], [PRECIOILIMITADO]) VALUES (2, N'Maate', N'test', N'21321sa', N'mate.jpg', 2, 1, 3, 1, 1212236, 2, 2, 1, CAST(124.65 AS Decimal(10, 2)), CAST(165.56 AS Decimal(10, 2)))
INSERT [dbo].[COCHE] ([ID], [MARCA], [MODELO], [MATRICULA], [IMAGEN], [ASIENTOS], [IDMARCHAS], [IDGAMA], [IDESTADO], [KILOMETRAJE], [PUERTAS], [IDCOMBUSTIBLE], [IDVENDEDOR], [PRECIOKILOMETROS], [PRECIOILIMITADO]) VALUES (3, N'pruebas', N'dsa', N'dasd123', N'techrider.png', 4, 2, 2, 1, 234, 3, 1, 1, CAST(12.45 AS Decimal(10, 2)), CAST(19.40 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[COMBUSTIBLE] ON 

INSERT [dbo].[COMBUSTIBLE] ([ID], [TIPO]) VALUES (2, N'Diesel')
INSERT [dbo].[COMBUSTIBLE] ([ID], [TIPO]) VALUES (1, N'Eléctrico')
INSERT [dbo].[COMBUSTIBLE] ([ID], [TIPO]) VALUES (3, N'Gasolina')
SET IDENTITY_INSERT [dbo].[COMBUSTIBLE] OFF
GO
INSERT [dbo].[COMPRADOR] ([ID], [IDUSUARIO], [NOMBRE], [APELLIDOS], [DNI], [CARNET], [TELEFONO], [FECHANACIMIENTO], [MONEDERO]) VALUES (1, 2, N'Test', N'Test', N'32424324p', N'42342tg', N'32423423', CAST(N'2003-06-23' AS Date), CAST(7.50 AS Decimal(10, 2)))
INSERT [dbo].[COMPRADOR] ([ID], [IDUSUARIO], [NOMBRE], [APELLIDOS], [DNI], [CARNET], [TELEFONO], [FECHANACIMIENTO], [MONEDERO]) VALUES (2, 3, N'Prueba', N'wqeqw', N'23131', N'e12312w', N'32424', CAST(N'2002-01-09' AS Date), CAST(0.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID], [ESTADO]) VALUES (2, N'Alquilado')
INSERT [dbo].[ESTADO] ([ID], [ESTADO]) VALUES (1, N'Libre')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADORESERVA] ON 

INSERT [dbo].[ESTADORESERVA] ([ID], [ESTADO]) VALUES (1, N'Activo')
INSERT [dbo].[ESTADORESERVA] ([ID], [ESTADO]) VALUES (3, N'Espera')
INSERT [dbo].[ESTADORESERVA] ([ID], [ESTADO]) VALUES (2, N'Finalizado')
SET IDENTITY_INSERT [dbo].[ESTADORESERVA] OFF
GO
SET IDENTITY_INSERT [dbo].[GAMA] ON 

INSERT [dbo].[GAMA] ([ID], [NIVEL]) VALUES (3, N'Alta')
INSERT [dbo].[GAMA] ([ID], [NIVEL]) VALUES (1, N'Baja')
INSERT [dbo].[GAMA] ([ID], [NIVEL]) VALUES (2, N'Media')
SET IDENTITY_INSERT [dbo].[GAMA] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCHAS] ON 

INSERT [dbo].[MARCHAS] ([ID], [TIPO]) VALUES (2, N'Automático')
INSERT [dbo].[MARCHAS] ([ID], [TIPO]) VALUES (1, N'Manual')
SET IDENTITY_INSERT [dbo].[MARCHAS] OFF
GO
INSERT [dbo].[RESERVA] ([ID], [IDCOCHE], [IDUSUARIO], [FECHAINICIO], [FECHAFIN], [IDESTADORESERVA], [PRECIO], [KILOMETRAJE]) VALUES (1, 1, 2, CAST(N'2025-03-03' AS Date), CAST(N'2025-03-06' AS Date), 2, CAST(4.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[RESERVA] ([ID], [IDCOCHE], [IDUSUARIO], [FECHAINICIO], [FECHAFIN], [IDESTADORESERVA], [PRECIO], [KILOMETRAJE]) VALUES (2, 3, 2, CAST(N'2025-03-04' AS Date), CAST(N'2025-03-07' AS Date), 3, CAST(49.68 AS Decimal(10, 2)), 1)
INSERT [dbo].[RESERVA] ([ID], [IDCOCHE], [IDUSUARIO], [FECHAINICIO], [FECHAFIN], [IDESTADORESERVA], [PRECIO], [KILOMETRAJE]) VALUES (3, 2, 2, CAST(N'2025-03-10' AS Date), CAST(N'2025-03-13' AS Date), 3, CAST(498.60 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID], [ROL]) VALUES (2, N'Comprador')
INSERT [dbo].[ROL] ([ID], [ROL]) VALUES (1, N'Vendedor')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [EMAIL], [PASSWORD], [IDROL], [SALT], [PASS]) VALUES (1, N'AdminTest', N'atest@gmail.com', N'123', 1, N'º@ª=ÛHâ¬L®÷e)ösø0^ì&µdfäÐê ÚWFÇ5ÚÃIµ÷Ð\0°', 0x7F129B8C08FC9E23EC0ED5D475314B2012CCBF1B7B6F48E97F9549CC3D53C5BA85312A3218A4A32A54FFFF18EF576991FFC0892ACA91B7E05702536481D4392D)
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [EMAIL], [PASSWORD], [IDROL], [SALT], [PASS]) VALUES (2, N'Test', N'ctest@mailito.com', N'123', 2, N'Äâ¤Æbh$r$(¯IzÚ·}:+þ±öôå )FÓ
üÉzªÉ³x¦¿E', 0x9C0AB43A2F9257FDE236AFFBDE35FBFBDE5B6B9E810E2A42593E6E1ADCF07ACF3494A1FCF37EE424257B02D6139A8387B3E40379D5E653B958BEC458671B6147)
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [EMAIL], [PASSWORD], [IDROL], [SALT], [PASS]) VALUES (3, N'Prueba', N'prueba2@mail.com', N'123', 2, N'Á*ª ì°>RÄÉú?-%Ëê¹ý?{AJÓ9ÓP½ÓúÌ6àY9,¹,®¨þ', 0x8D103B3562BE1D4111BF3C94B5769940AC56B5C31DFC80F911D1D5B249966C774F806DDDD94DDF5CF7B1B48FA2C9837F8F502E4DB9E8BC8DEE4B2738FB1BD354)
GO
INSERT [dbo].[VENDEDOR] ([ID], [IDUSUARIO], [NOMBREEMPRESA], [DIRECCION], [TELEFONO]) VALUES (1, 1, N'Rentking', N'c/ almonte', N'602694963')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COCHE__46A2F688DD61B9C0]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[COCHE] ADD UNIQUE NONCLUSTERED 
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COMBUSTI__B6FCAAA2942531C3]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[COMBUSTIBLE] ADD UNIQUE NONCLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ESTADO__541A11CC988624D1]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[ESTADO] ADD UNIQUE NONCLUSTERED 
(
	[ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ESTADORE__541A11CC05C6C94A]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[ESTADORESERVA] ADD UNIQUE NONCLUSTERED 
(
	[ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GAMA__A2B1AB5C1F5EF3C0]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[GAMA] ADD UNIQUE NONCLUSTERED 
(
	[NIVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MARCHAS__B6FCAAA284ACF378]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[MARCHAS] ADD UNIQUE NONCLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROL__CAFF71FCC52C19E8]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[ROL] ADD UNIQUE NONCLUSTERED 
(
	[ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__161CF724CBFB2608]    Script Date: 09/03/2025 18:56:10 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD FOREIGN KEY([IDCOMBUSTIBLE])
REFERENCES [dbo].[COMBUSTIBLE] ([ID])
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD FOREIGN KEY([IDESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD FOREIGN KEY([IDGAMA])
REFERENCES [dbo].[GAMA] ([ID])
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD FOREIGN KEY([IDMARCHAS])
REFERENCES [dbo].[MARCHAS] ([ID])
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD FOREIGN KEY([IDVENDEDOR])
REFERENCES [dbo].[VENDEDOR] ([ID])
GO
ALTER TABLE [dbo].[COMPRADOR]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[VENDEDOR]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_COCHE]    Script Date: 09/03/2025 18:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_INSERT_COCHE]
(@MARCA NVARCHAR(50),@MODELO NVARCHAR(50),@MATRICULA NVARCHAR(50),@IMAGEN NVARCHAR(50)
,@ASIENTOS INT,@IDMARCHAS INT,@IDGAMA INT,@KILOMETRAJE INT,@PUERTAS INT,@IDCOMBUSTIBLE INT
,@IDVENDEDOR INT,@PRECIOKILOMETROS DECIMAL(10,2),@PRECIOILIMITADO DECIMAL(10,2))
AS
	DECLARE @NEW_ID INT;

    SELECT @NEW_ID = ISNULL(MAX(ID), 0) + 1 FROM COCHE;
    INSERT INTO COCHE VALUES(@NEW_ID,@MARCA,@MODELO,@MATRICULA,@IMAGEN,@ASIENTOS,@IDMARCHAS,@IDGAMA,1
    ,@KILOMETRAJE,@PUERTAS,@IDCOMBUSTIBLE,@IDVENDEDOR,@PRECIOKILOMETROS,@PRECIOILIMITADO);

GO

